@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Zen+Maru+Gothic:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", serif;
  font-weight: 500;
  overflow-x: hidden;
  background-color: #faf9f9;
}

.font-bold {
  font-family: "Noto Sans JP", serif;
  font-weight: 900;
  font-style: normal;
}

.text-stroke {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

#media-icon:hover img {
  transition: transform 1s;
  transform: rotateY(360deg);
}

.underline-before {
  background: linear-gradient(#ffae02, #ffae02) 0 100%/0 6px no-repeat;
  /*左から、カラー（始点と終点それぞれ同じものを指定）、position / サイズ横縦 繰り返しの有無 */

  transition: background 3s;
  /*トランジションの設定。下線を引く動きをアニメーションにするのに必要 */

  text-decoration: none;
  /*テキストの装飾の設定 */
}

.underline-after {
  background-size: 100% 6px;
  /* 変化後のスタイル。横サイズを0から100%に変えることで指定の文字列に下線を引く */
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.carousel-item {
  display: none;
}
.carousel-item.active {
  display: block;
}

.slick-arrow.slick-next:before {
  content: "▶︎";
  color: black;
}

.slick-arrow.slick-prev:before {
  content: "◀";
  color: black;
}

#vertical-text {
  writing-mode: vertical-rl;
}

.accordion-content2 {
  display: none;
}

.rotate-90 {
  transform: rotate(270deg);
}

.slide-in {
  transition: transform 0.5s ease-out;
}
.slide-in.active {
  transform: translateX(0);
}

#fixed-contactbox {
  opacity: 0;
  z-index: -10px;
  transition-duration: 0.2s;
}
#fixed-contactbox.active {
  opacity: 1;
  transition-duration: 0.2s;
}

#cta-btn {
  position: relative;
  overflow: hidden;
}

#cta-btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: -120%;
  width: 100%;
  height: 100%;
  transform: skewX(-30deg);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
}

#cta-btn:before {
  animation: shine 2s infinite linear;
}
@keyframes shine {
  100% {
    left: 100%;
  }
}

.tab-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.tab-wrap2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.tab-wrap:after {
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  order: -1;
}
.tab-label {
  color: rgb(31, 31, 31);
  background: #ffde59;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  text-align: center;
  padding: 10px 0.5em;
  order: -1;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 0 0;
  flex: 1;
}

.tab-label::after {
  position: absolute;
  bottom: 0.4vw;
  right: 0.1vw;
  content: "+";
  width: 1.5vw;
  height: 1.5vw;
  line-height: 0;
  padding-top: 0.5vw;
  margin-left: 0.6vw;
  background-color: #fe2c55;
  color: white;
  border: 2px black solid;
}

.tab-label:not(:last-of-type) {
  margin-right: 5px;
}
.tab-content {
  width: 100%;
  height: 0;
  overflow: hidden;
  border: 0.3vw #ffde59 solid;
  background: #ffffff;
  color: rgb(31, 31, 31);
  opacity: 0;
}
/* アクティブなタブ */
.tab-switch:checked + .tab-label {
  background: #ffde59;
}

.tab-switch:checked + .tab-label::after {
  content: "ー";
  line-height: 0;
  padding-top: 0.5vw;
  margin-left: 0.6vw;
  background-color: #fe2c55;
  color: white;
  border: 2px black solid;
}
.tab-switch:checked + .tab-label + .tab-content {
  height: auto;
  overflow: auto;
  padding: 15px;
  opacity: 1;
  transition: 0.5s opacity;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
/* ラジオボタン非表示 */
.tab-switch {
  display: none;
}
